# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# PyTorch checkpoints / weights
*.pth
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary data / caches
dataset_colab/
graficas_informe/
.DS_Store
Thumbs.db
